.record-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  padding: 16px;

  background: #1c1c1c;
  backdrop-filter: blur(80px);

  border-top-left-radius: 13px;
  border-top-right-radius: 13px;

  z-index: 1;
}

.record-panel-indicator-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.record-panel-indicator {
  width: 74px;
  height: 5px;

  background: #d1d1d1;
  opacity: 0.3;
  border-radius: 100px;
}

.record-panel-title {
  font-size: 14px;
  line-height: 100%;
  font-weight: 500;
  letter-spacing: 4%;
  color: #d9d9d9;

  opacity: 0.4;
}

.record-panel-timer-wrapper {
  position: relative;
}

.record-panel-timer-indicator {
  position: absolute;
  top: 50%;
  left: -31px;
  width: 20px;
  height: 20px;

  transform: translateY(-50%);

  background: #d1d1d10a;
  border-radius: 50%;
}

.record-panel-timer-indicator--active {
  background: #f94301;
  border: 1.5px solid #f943011a;
}

.record-panel-timer {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 190px;

  padding-bottom: 8px;

  font-size: 56px;
  font-weight: 200;
  line-height: 48px;
  letter-spacing: 0%;
  text-align: center;
}

.record-panel-timer-digit {
  opacity: 0.3;

  transition: opacity 0.3s ease;
}

.record-panel-timer-digit--active {
  opacity: 1;
}

.record-panel-transcription {
  width: 100%;

  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #d1d1d1;
}

.record-panel-transcription:first-letter {
  text-transform: uppercase;
}

.record-panel-buttons {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;

  width: 100%;
}

.record-panel-buttons--active {
  aspect-ratio: 1/1;
}

.record-panel-buttons--active .vinyl {
  display: block;
}

.record-panel-button {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  gap: 8.48px;

  width: 80px;
  height: 80px;

  padding: 8px;

  background: transparent;
  border: 2px solid #f94301;
  border-radius: 50%;
}

.record-panel-button::after {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;

  width: 66px;
  height: 66px;

  transform: translate(-50%, -50%);

  background: #f94301;
  border-radius: 50%;

  transition: background 0.3s ease;
}

.record-panel-button--active::after {
  background: rgb(249, 67, 1, 0.1);
}

.record-panel-button-forward,
.record-panel-button-backward {
  position: relative;

  width: 64px;
  height: 64px;

  background: #2c2c2e;
  border-radius: 50%;
}

.record-panel-button-forward--disabled,
.record-panel-button-backward--disabled {
  opacity: 0.2;
}

.vinyl {
  display: none;

  position: absolute;
  inset: 0;

  background: rgb(249, 67, 1, 0.04);
  border: 1px solid #f94301;
  border-radius: 50%;

  animation: vinylRotate 5s linear infinite;

  z-index: -1;
}

@keyframes vinylRotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.vinyl-divider {
  position: absolute;
  top: 50%;
  left: 10px;

  width: calc((100% - 80px - 40px) / 2);
  height: 1px;

  background-color: #f94301;

  transform: translateY(-50%);
}

.vinyl-divider--right {
  left: auto;
  right: 10px;
}

.vinyl-circle {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 88%;
  height: 88%;

  font-size: 5px;
  font-weight: 300;

  fill: #f94301;

  transform: translate(-50%, -50%);
  overflow: visible;
}

.vinyl-circle path {
  fill: none;
}

.vinyl-circle--small {
  width: 59%;
  height: 59%;

  font-size: 7.5px;

  transform: translate(-50%, -50%) rotate(180deg);
}

.record-panel-button-forward {
  transform: rotate(180deg);
}

.record-panel-histogram {
  width: 100%;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.histogram-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 100%;

  overflow-x: auto;
  overflow-y: hidden;

  position: relative;
}

.histogram-bar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.histogram-bar {
  border-radius: 0;
}

.histogram-bar--top {
}

.histogram-bar--bottom {
}

.histogram-bar--gradient-1 {
  background: #ff5f25;
}

.histogram-bar--gradient-2 {
  background: #ff723e;
}

.histogram-bar--gradient-3 {
  background: #ffb093;
}

.histogram-bar--gradient-4 {
  background: #d1d1d1;
}

.histogram-bar--default {
  background: #f94301;
}
